.search-container {
    position: relative;
    width: 250px;
}

.search-container svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    fill: #000000;
}

.search-container input[type="search"] {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 8px;
}

.search-container input[type="search"]:focus {
    outline: none;
    border-color: #ff3366;
}