* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff0BD;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #b9d49f;
    width: 220px;
    padding: 20px;
    height: 100%;

}

.sidebar h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.ingredientes-lista {
    list-style: none;
}

.ingredientes-lista li {
    background-color: #d4e6c0;
    border: 1px solid black;
    margin-bottom: 8px;
    padding: 5px 10px;
    width: 179px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0 5px;
    font-weight: bold;
}

#navbar {
    padding: 10px;
    border-radius: 8px;
    background-color: #ff3366;
}

.search-box {
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #aaa;
    outline: none;
    width: 400px;
    height: 40px;
}

.sugestoes {
    margin-top: 20px;
}

.sugestao {
    background-color: #fdf1cf;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid #999;
}

.sugestao h4 {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: lowercase;
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.botoes button {
    background-color: #b9d49f;
    border-color: 0.5px black;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.ingredientes-lista button {
    background-color: #d4e6c0;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
}

.ingredientes-lista button:hover {
    background-color: red;
    border: 1px black;
}

.gen {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #ff3366;
    border: 1px solid black;
    width: 179px;
    border-radius: 8px;
}

.gen button {
    background-color: #ff3366;
    border: none;
    color: white;
}

.gen:hover {
    background-color: #d82854;
}

.gen:hover button {
    background-color: #d82854;
}

#gerar {
    display: flex;

}
.receita-item {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .receita-item h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }

    .receita-item p {
      margin-bottom: 0;
    }

    .remover-favorito {
      background: none;
      border: none;
      color: #ff6b6b;
      font-size: 1.2em;
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
    }

    .remover-favorito:hover {
      background-color: #ffe0e0;
    }
